{% extends "base.html" %} {% load tailwind_filters %} {% load crispy_forms_tags
%} {% block content %}
<h1 class="text-3xl text-center mx-auto font-medium border-b-4 w-40">
  Profile Page
</h1>
<p class="text-center my-12"></p>
<div class="text-center">
  <a href="{% url 'edit_profile' %}" class="text-center">
    <button
      class="bg-sky-600 px-4 py-2 text-white font-bold rounded-lg"
      style="background-color: turquoise; margin-bottom: 16px"
    >
      Edit Profile
    </button>
  </a>
</div>

<p class="text-3xl p-5 font-bold">Cart Item:</p>
{% if user_profile.borrowed_cars.all %} 
{% for car in user_profile.borrowed_cars.all %}
<p class="text-2xl p-5">{{ car.car }}, price: ${{car.price}}</p>
{% endfor %} 
{% else %}
<p>No cars Borrowed yet.</p>
{% endif %} 
{% endblock %}
