{% extends "base.html" %} 
{% block content %} 
{% load tailwind_filters %} 
{% load crispy_forms_tags %}
<h1 class="text-5xl text-center mx-auto font-medium my-12">Car Details</h1>

<!-- card start here -->

{% comment %} {% for car in data %} {% endcomment %}
<div class="flex items-center mx-12">
  <div class="p-5 w-1/2">
    <img class="mx-auto rounded-lg" src="{{cars.image.url}}" alt="#" />
  </div>
  <div class="w-1/2 p-5">
    <div class="">
      <h1 class="my-2 text-5xl font-bold tracking-tight">{{cars.car}}</h1>

      <h3 class="py-3 text-3xl font-medium italic text-gray-900">
        Price: ${{cars.price}}
      </h3>
      <h5 class="py-3 text-xl font-semibold italic text-gray-900">
        Quantity: {{cars.quantity}}
      </h5>
    </div>
    <div class="m-5">
      <p class="flex items-center">
        Brand: {% for cat in cars.brand.all %}
        <a
          href="#"
          class="px-3 py-2 text-sm font-medium text-center text-gray-500 m-2"
        >
          {{cat.name}}
        </a>
        {% endfor %}
      </p>
      <a href="{% url 'buynow' cars.id %}">
        <p class="bg-sky-600 px-4 py-3 rounded-lg text-center">
          <button class="text-white text-center font-bold">Buy Now</button>
        </p>
      </a>
    </div>
  </div>
</div>

{% comment %} comment start here {% endcomment %}


<!-- comment div start here -->
<h1 class="text-center">Total comments: {{comments | length}}</h1>

<div class="m-3">
  {% for comment in comments %}
  <div class="text-sm bg-gray-500 m-3 p-5 rounded-lg text-white">
      <p><b class="mr-3">{{comment.name}}</b>{{comment.created_on}}</p>
      <p class="text-xl">{{comment.body}}</p>
  </div>
  {% endfor %}
</div>
<h1 class="text-center text-2xl font-medium mt-6">Comment here:</h1>
<!-- comment box start here -->
<form class="m-5 p-12" method="post">
  {% csrf_token %} 
  
  {{ comment_form |crispy }}
  <button class="bg-sky-600 px-3 py-2 text-black font-bold rounded-lg my-3">
    Submit
  </button>
</form>

{% comment %} {% endfor %} {% endcomment %} 
{% endblock %}
